<div class="header-gradient">
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('greeting.greeting') }}">SayHi</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('greeting.greeting') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('greeting.greeting') }}">Greeting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <div class="login-state">
                    <span class="navbar-text">
                        <a href="#" class="login">Log In</a>
                    </span>
                    <a class="btn btn-light action-button" role="button" href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </nav>
</div>