{% extends 'base.html' %}
{% block content %}
<h4 class="text-center pt-4">Greeting</h4>
<div class="container my-4 greeting-wrapper">
    <div class="row p-0 p-sm-3">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <div class="col">
                        <small class="form-text text-muted pt-3">
                            Enter your name</small>
                        <input type="text" name="user_name" required>
                    </div>
                </div>
                <div class="form-group row justify-content-center p-2">
                    <button type="submit" class="btn btn-dark btn-block btn-greet">Welcome</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            {% if user_name %}
                <h4 class="py-3 py-md-0">You're welcome, {{ user_name }}</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}